body{
    margin: 0%;
    
}

   

.header-div{
    width: 100%;
    height: 70px;
    background: #FFFFFF;
   align-items: center;
   display: flex;

    
}
.img-micromaxlogo{
    width: 191px;
    height: 38px;
    position: absolute;
    margin-left: 50px;
    cursor: pointer;
}
.header-textdiv{
    
    width: 960px;
    height: 46px;
    
    
    margin-left: 355px;
    
}
.mobiles{
   
    font-size: 1rem;
    font-weight: 500;
    color: #77cdd6;
    
    text-decoration: none;
    margin-left: 208px;
    margin-top: 10px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.audio{
   
    font-size: 1rem;
    font-weight: 500;
    color: #77cdd6;
    text-decoration: none;
    margin-left: 285px;
    margin-top: -37px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.ce{
   
    font-size: 1rem;
    font-weight: 500;
    color: #231f20;
    text-decoration: none;
    margin-left: 351px;
    margin-top: -37px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.fp{
   
    font-size: 1rem;
    font-weight: 500;
    color: #231f20;
    text-decoration: none;
    margin-left: 528px;
    margin-top: -37px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.community{
   
    font-size: 1rem;
    font-weight: 500;
    color: #ff6500;
    text-decoration: none;
    margin-left: 661px;
    margin-top: -37px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.support{
   
    font-size: 1rem;
    font-weight: 500;
    color: #231f20;
    text-decoration: none;
    margin-left: 769px;
    margin-top: -37px;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.icon1{
    width: 16px;
    height: 20px;
    margin-left: 858px;
    margin-top: -33px;
    position: absolute;
    cursor: pointer;
}
.icon2{
    width: 22px;
    height: 20px;
    margin-left: 889px;
    margin-top: -33px;
    position: absolute;
    cursor: pointer;
}
.icon3{
    width: 20px;
    height: 20px;
    margin-left: 924px;
    margin-top: -33px;
    position: absolute;
    cursor: pointer;
}
.image-div1{
    width: 100%;
    height: 550px;
    background-image: url(/images/main\ image.jpg) ;
    cursor: pointer;
    background-size: contain;
}

    

.slide-icon{
    width: 24px;
    height: 53px;
    position: absolute;

}
.left-arrow{
    margin-left: 32px;
    margin-top: 250px;
    cursor: pointer;
}
.right-arrow{
   float: right;
    margin-top: 250px;
    margin-top: 250px;
    margin-right: 33px;
    cursor: pointer;
}
.middlediv{
    width: 100%;
    height: 414px;
    background: #FFFFFF;
    margin-top: 28px;
    
    
}
.headings{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.1;
    color: #231f20;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: center;
}
.phone1{
    width: 135px;
    height: 180px;
    margin-left: 134px;
    cursor: pointer;
    
}
.phone1-text1{
    font-family:Poppins;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    margin-left: 121px;
    color: #777777;
    cursor: pointer;
}
.phone1-text2{
    font-family:Open Sans;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-left: 155px;
    color: #444;
}
.phone2{
    width: 135px;
    height: 180px;
    position: absolute;
    margin-top: -271px;
    margin-left: 449px;
    cursor: pointer;
}
.phone2-text1{
    font-family:Poppins;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    margin-left: 474px;
    color: #777777;
    margin-top: -72px;
    cursor: pointer;
}
.phone2-text2{
    font-family:Open Sans;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin-left: 478px;
    color: #444;
    margin-top: -4px;
}
.phone3{
    width: 135px;
    height: 180px;
    margin-right: 453px;
    float: right;
    margin-top: -271px;
    cursor: pointer;

}
.phone3-text1{
    font-family:Poppins;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    float: right;
    color: #777777;
    margin-top: -72px;
    margin-right: 454px;
    cursor: pointer;
}
.phone3-text2{
    font-family:Open Sans;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
   float: right;
    color: #444;
    margin-top: -38px;
    margin-right: 489px;
}
.phone4{
    width: 135px;
    height: 180px;
    margin-right: -422px;
    float: right;
    margin-top: -271px;
    cursor: pointer;
}
.phone4-text1{
    font-family:Poppins;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    float: right;
    color: #777777;
    margin-top: -72px;
    margin-right: -421px;
    cursor: pointer;
    
}
.phone4-text2{
    font-family:Open Sans;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
   float: right;
    color: #444;
    margin-top: -38px;
    margin-right: -386px;
}

    

.middle2-div{
width: 100%;
height: 510.59px;
background: #F5F5F5;
}
.h2-audioo{
    font-size: 30px;
    font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    color: #231f20;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 3rem;
    font-style: normal;
    width: 100%;
    padding-top: 20px;
}
.airpods-div1{
    width: 610px;
    height: 352.9px;
    background: #FFFFFF;
    float: left;
    margin-left: 50px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}
.img-airpods1{
    width: 152px;
    height: 203px;
    margin-top: 20px;
    position: absolute;
}
.airpods1-text1{
   position: absolute; 
    font-size: 21px;
    font-weight: 645;
    color: #231f20;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-top: 240px;
    font-style: normal;
}
.airpods1-text2{
    font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin-top: 280px;
}
.airpods1-text3{
    font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    text-align: center;
    margin-top: 305px;
    position: absolute;
    color: #F36F21;
    line-height: 1.5;
}
.airpods-div2{
    width: 610px;
    height: 352.9px;
    background: #FFFFFF;
    float: left;
    margin-left: 30px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}
.img-airpods2{
    width: 152px;
    height: 203px;
    margin-top: 20px;
    position: absolute;
}
.airpods2-text1{
    position: absolute; 
     font-size: 21px;
     font-weight: 645;
     color: #231f20;
     font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
     margin-top: 240px;
     font-style: normal;
 }
 .airpods2-text2{
    font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    margin-top: 280px;
}
.airpods2-text3{
    font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    text-align: center;
    margin-top: 305px;
    position: absolute;
    color: #F36F21;
    line-height: 1.5;
}
.middle3-div{
    width: 100%;
    height: 456.69px;
   
}
.mid3-img{
    width: 100%;
    height: 456.69px;
    cursor: pointer;
}
.div-mob-features{
    width: 131ppx;
    height: 459px;
    background: #FFFFFF;
   
    
}
.mob-features-h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.mob-features-text2{
    font-size: 14px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospac;
    font-weight: 500;
    color: #231f20;
    text-align: center;
    margin-top: -10px;
    font-family: sans-serif;
}
.hover1-div1{
    width: 301.25px;
    height: 275px;
   
    margin-left: 50px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    float: left;
    
   

}
.hover1-div1:hover{
    background: #77CDD6;
}
.hover1-div2{
    width: 200px;
    height: 200px;
    background: #77CDD6;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
   
}
.hover1-image1{
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    max-height: 28%;
    
    
}
.hover2-div1{
    width: 301.25px;
    height: 275px;
    
   
    display: flex;
    align-items: center;
    flex-direction: column;
   margin-left: 363px;
    margin-top: 54px;

}
.hover2-div1:hover{
    background: #FED206;
}
.hover2-div2{
    width: 200px;
    height: 200px;
    
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FED206;
   
}
.hover2-image1{
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    max-height: 50%;
    vertical-align: middle;
    
}
.hover3-div1{
    width: 301.25px;
    height: 275px;
    float: right;
   
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -275px;
    margin-right: 368px;


   
}
.hover3-div1:hover{
    background: #77CDD6;
}
.hover3-div2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #77CDD6;
   
}
.hover3-image1{
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    max-height: 50%;
    vertical-align: middle;
    
}
.hover4-div1{
    width: 301.25px;
    height: 275px;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -275px;
    margin-right: 52px;
   
}
.hover4-div1:hover{
    background: #FED206;
}
.hover4-div2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FED206;
   
}
.hover4-image1{
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    max-height: 77%;
    vertical-align: middle;
    
}
.hover1-text1{
    font-size: 1.5rem;
    font-weight: 300;
    color: #231f20;
    text-align: center;
    font-family: "poppins";
    margin-top: 280px;
    position: absolute;
}
.hover2-text1{
    font-size: 1.5rem;
    font-weight: 300;
    color: #231f20;
    text-align: center;
    font-family: "poppins";
    margin-top: 280px;
    position: absolute;
}
.hover3-text1{
    font-size: 1.5rem;
    font-weight: 300;
    color: #231f20;
    text-align: center;
    font-family: "poppins";
    margin-top: 280px;
    position: absolute;
}
.hover4-text1{
    font-size: 1.5rem;
    font-weight: 300;
    color: #231f20;
    text-align: center;
    font-family: "poppins";
    margin-top: 280px;
    position: absolute;
}
.video-maindiv{
    width: 100%;
    height: 400px;
    
}
.video-page{
    width: 645px;
    height: 400px;
    background: #FED206;
    float: left;
    margin-left: 15px;
}
.videoo{
    width: 645px;
    height: 400px;
    
}
.video-content{
    width: 674.5px;
    height: 400px;
    background: #ffffff;
    float: left;
    margin-left: 14px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 20%);
    text-align: center;
    
}
.video-text1{
    color: #231f20;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.video-text2{
    position: absolute;
    font-family: system-ui;
    font-weight: 350;
    font-size: 16px;
    margin-left: 30px;
    margin-top: -15px;
   
    color: #231f20;
}
.button{
    width: 232.5px;
    height: 62px;
    background: #77cdd6;
    text-align: center;
    position: absolute;
    margin-top: 135px;
    margin-left: 220px;
    border: 1px;
    border-radius: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button-text{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: auto;
    color: #FFFFFF;
}
.socialsites-maindiv{
    width: 100%;
    height: 102px;
}
.social-sites-div1{
    width: 610px;
    height: 72px;
    background: #F1F1F1;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#insta{
   font-size: 1.5em;
    position: absolute;
    float: right;
    margin-left: 226px;
    cursor: pointer;
}
#facebook{
    font-size: 1.5em;
     position: absolute;
     float: right;
     margin-left: 322px;
     cursor: pointer;
 }
 #twitter{
    font-size: 1.5em;
     position: absolute;
     float: right;
     margin-left: 413px;
     cursor: pointer;
 }
 #youtube{
    font-size: 1.5em;
     position: absolute;
     float: right;
     margin-left: 510px;
     cursor: pointer;
 }
 .sc-text1{
     font-size: 1.5rem;
     font-weight: 490;
     color: #231f20;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin-right: 340px;
 }
 .social-sites-div2{
    width: 610px;
    height: 72px;
    background: #FFFFFF;
    float: left;
    margin-left: 14px;
    margin-top: 30px;
    

}
.sc-div2-text1{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0;
    color: #231f20;
     font-style: normal;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin-top: 0;
}
.sc-div2-text2{
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0;
    color: #231f20;
     font-style: normal;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
    margin-top: 5px;
}
.footer
{
    width: 100%;
    height: 500px;
    background: #5F6062;
    margin-top: 40px;
    display: flex;
}
.footer-h1{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-left: 50px;
    position: absolute;
    color: #FFFFFF;
    margin-top: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.ul1{
    position: absolute;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
    margin-top: 70px;
    font-size: 13px;
    margin-left: 10px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-h2{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-left: 260px;
    position: absolute;
    color: #FFFFFF;
    margin-top: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.ul2{
    position: absolute;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
    margin-top: 95px;
    font-size: 13px;
    margin-left: 220px;
    line-height: 27px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-h3{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-left: 475px;
    position: absolute;
    color: #FFFFFF;
    margin-top: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ul3{
    position: absolute;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
    margin-top: 70px;
    font-size: 13px;
    margin-left: 437px;
    line-height: 27px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-h4{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-left: 687px;
    position: absolute;
    color: #FFFFFF;
    margin-top: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ul4{
    position: absolute;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
    margin-top: 70px;
    font-size: 13px;
    margin-left: 650px;
    line-height: 27px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-h5{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-left: 900px;
    position: absolute;
    color: #FFFFFF;
    margin-top: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ul5{
    position: absolute;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
    margin-top: 70px;
    font-size: 13px;
    margin-left: 865px;
    line-height: 27px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer-h6{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-left: 1115px;
    position: absolute;
    color: #FFFFFF;
    margin-top: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.ul6{
    position: absolute;
    color: #FFFFFF;
    text-align: left;
    list-style: none;
    margin-top: 70px;
    font-size: 13px;
    margin-left: 1080px;
    line-height: 27px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.copyright{
    position: absolute;
    color: #FFFFFF;
    list-style: none;
    font-size: 13px;
    margin-top: 464px;
    margin-left: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.user{
    position: absolute;
    cursor: pointer;
    color: #FFFFFF;
    list-style: none;
    font-size: 13px;
    margin-top: 464px;
    margin-left: 363px;
    word-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lst{
    
        position: absolute;
        color: #FFFFFF;
        list-style: none;
        font-size: 13px;
        margin-top: 464px;
        margin-left: 1214px;
       cursor: pointer;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


